<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeName</key>
		<string>AV-Admin-ARC</string>
		<key>routeNumber</key>
		<string>308</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Camino del Sol</string>
		<key>routeNumber</key>
		<string>527</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Main Campus</string>
		<key>routeNumber</key>
		<string>176</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>New Port</string>
		<key>routeNumber</key>
		<string>968</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Parkwest</string>
		<key>routeNumber</key>
		<string>305</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>VDC</string>
		<key>routeNumber</key>
		<string>530</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>VDC-Norte</string>
		<key>routeNumber</key>
		<string>528</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Combined</string>
		<key>routeNumber</key>
		<string>317</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeName</key>
		<string>District</string>
		<key>routeNumber</key>
		<string>941</string>
		<key>Stops</key>
		<array>
			<dict>
				<key>StopNumber</key>
				<string></string>
				<key>StopName</key>
				<string></string>
				<key>Coordinates</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
